body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

main {
    flex-grow: 1;
  }

.product {
    display: inline-block;
    width: 200px;
    margin: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.45) 6px 6px 10px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 50px;
    margin-bottom: 30px;
}

.product img {
    width: 150px;
    height: 150px;
}

.product h3 {
    margin-top: 10px;
}

.product p {
    color: #888;
}

.product button {
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

.product button:hover {
    padding: 12px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 10px;
    transition: 0.3s;
}

a:hover {
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.481);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }