* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202020;
    background-size: cover;
}


/*HEADER DO SITE*/
header {
    display: flex;
    background-color: rgb(151, 29, 49);
    color: #fff;
    padding: 15px;
    height: 120px;
    margin-top: 0px;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    transition: height 0.3s ease-in-out;
}

#user {
    margin-left: 450px;
}

#query {
    margin-top: 30px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 600px;
    margin-left: 70px;
    transition: 0.3s;
}

nav {
    margin-left: 50px;
    margin-top: 35px;
    transition: 0.3s;
}

nav .tab {
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
    margin-right: 50px;
}

nav .tab:hover {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

.logo {
    width: 120px;
    transition: width 0.3s ease-in-out;
}


header.small {
    height: 70px;
}

header.small .logo {
    width: 50px;
}

header.small nav {
    margin-top: 10px;
}

header.small #user {
    margin-left: 550px;
}

header.small #query {
        margin-top: 0px;
        height: 40px;
        border: none;
        outline: none;
        border-radius: 10px;
        width: 500px;
        margin-left: 250px;
}

body.scroll-down .header {
    height: 50px;
}


/*----------------------------------------------*/

.wrap {
    max-width: 600px;
    margin: 20px auto;
    background: #1b1b1b;
    padding: 20px;
    margin-top: 150px;
    margin-bottom: 20px;
    border-radius: 10px;
}

h1,
h3 {
    font-weight: 400;
    color: white;
}

.projTitle {
    text-align: center;
}

.projTitle span {
    color: #FF6600;
}

.cart {
    margin-top: 20px;
}

.cartSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
}

.cartSection p {
    margin: 0;
}

.cartWrap li {
    list-style: none;
    border-radius: 10px;
    padding: 10px 0;
    margin-bottom: 5px;
    background-color: #212121;
    color: white;
}

.itemImg {
    width: 80px;
    height: 100px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

.items {
    background: #fafafa;
}

.items.odd {
    background: #eee;
}

.itemName {
    max-width: 120px;
}

.cart

.qty {
    background-color: #1b1b1b00;
    width: 40px;
    text-align: center;
    outline: none;
    border: solid white 1px;
    border-radius: 10px;
    color: white;
}

.remove {
    background-color: rgb(166, 4, 4);
    width: 40px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
}

.subtotal {
    color: white;
    text-align: right;
    margin-top: 20px;
}

.subtotal li {
    list-style-type: none;
    padding: 10px 0;
    color: white;
}

.subtotal li span.label {
    font-weight: bold;
}

.subtotal li span.value {
    margin-left: 10px;
}

.price {
    font-size: 30px;
    background: none;
    color: white;
    width: 160px;
}

.final {
    font-weight: bold;
    font-size: 1.2em;
}

.btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.btnQtd {
    color: white;
    background-color: rgba(151, 29, 49, 0);
    outline: none;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 10px;
    padding: 15px;
    cursor: pointer;
    text-align: start;
    font-size: 20px;
}

.btn.continue {
    background: rgb(151, 29, 49);
    cursor: pointer;
    transition: 0.2s;
}

.btn.continue:hover {
    background: rgb(101, 21, 34);
}

.container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #1b1b1b;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
  }

  form[action="/checkout"]
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  select,
  button {
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #131313;
    border-radius: 4px;
  }

  @media (max-width: 600px) {
    .container {
      max-width: 100%;
      padding: 10px;
    }
  }