@font-face {
    font-family: 'Retro_Gaming';
    src: url('../Fontes/Retro\ Gaming.ttf') format('truetype');
}


nav {
    margin-left: 50px;
    margin-top: 35px;
    transition: 0.3s;
}

nav .tab {
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
    margin-right: 50px;
}

nav .tab img {
    width: 50px;
    transition: 0.3s;
}

nav .tab:hover {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

body {
    background-color: #202020;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}

.titulo {
    font-family: Retro_Gaming;
    margin-top: 10%;
}

header #term {
    margin-top: 40px;
    margin-right: 300px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 600px;
    margin-left: 150px;
}

header.small {
    height: 60px;
}

header.small .logo {
    width: 50px;
}

header.small .tab img {
    width: 30px;
}

header.small nav {
    margin-top: 10px;
}

header.small #user {
    margin-left: 550px;
}

header.small #query {
    margin-top: 10px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 600px;
    margin-left: 200px;
    margin-right: 100px;
}

body.scroll-down .header {
    height: 50px;
}

header {
    display: flex;
    background-color: rgb(151, 29, 49);
    color: #fff;
    padding: 15px;
    height: 120px;
    margin-top: 0px;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    transition: height 0.3s ease-in-out;
}

main {
    flex-grow: 1;
  }

.product {
    display: inline-block;
    width: 270px;
    height: 500px;
    margin: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.45) 6px 6px 10px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 50px;
    margin-bottom: 60px;
}



h2{
    margin-top: 60px;
    margin-left: 30px;
    font-size: 30px;
    text-transform: uppercase;
}

.product img {
    width: 200px;
    height: 250px;
    border-radius: 5px;
}

.product h3 {
    margin-top: 10px;
}

.product p {
    color: #888;
}

.product .botao {
    background-color: rgb(151, 29, 49);
    color: #fff;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

.product button:hover {
    background-color: rgb(108, 12, 28);
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 10px;
    transition: 0.3s;
}

nav a:hover {
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.481);
    padding: 3px;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

 .logo {
    width: 120px;
  }

  nav .tab {
    margin-right: 50px;
    font-size: 25px;
    background: none;
    border: none;
    cursor: pointer;
  }