body {
    background-color: #202020;
    color: white;
}

h1 {
    margin-top: 20%;
    text-align: center;
}

.imagens{
    margin-left: 10%;
    display: inline;
}
.Eleoterio {
    width: 50ch;
    height: auto;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    margin-left: 10%;
}

.Murilo {
    width: 50ch;
    height: auto;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    margin-left: 10%;
}

header {
    display: flex;
    background-color: rgb(151, 29, 49);
    color: #fff;
    padding: 15px;
    height: 120px;
    margin-top: 0px;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    transition: height 0.3s ease-in-out;
}

#user {
    margin-left: 450px;
}

#query {
    margin-top: 30px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 600px;
    margin-left: 70px;
    transition: 0.3s;
}

nav {
    margin-left: 50px;
    margin-top: 35px;
    transition: 0.3s;
}

nav .tab {
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
    margin-right: 50px;
}

nav .tab img {
    width: 35px;
    transition: 0.3s;
}

nav .tab:hover {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

.logo {
    width: 120px;
    transition: width 0.3s ease-in-out;
}


header.small {
    height: 70px;
}

header.small .logo {
    width: 50px;
}

header.small .tab img {
    width: 30px;
}

header.small nav {
    margin-top: 10px;
}

header.small #user {
    margin-left: 550px;
}

header.small #query {
    margin-top: 0px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 500px;
    margin-left: 250px;
}