<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <link rel="icon" href="img/logoRosa.png">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/aboutus.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PixelCat | Sobre nós</title>
</head>

<div class="topSection">
    <header id="top">
        <form method="post" action="/homeL">
            <button type="submit"><img src="../img/LogoRosa.png" alt="Gato" class="logo"></button>
            <button type="submit"><img src="../img/TextoLogoRosa.png" alt="PixelCat" class="logo"></button>
        </form>
        <div class="pesquisa">
            <form method="get" action="/pesquisar">
                <input type="text" name="term" id="term">
                <button id="btnPesquisar" type="submit">Pesquisar</button>
            </form>
        </div>
    </header>
    <div id="exit">
        <a href="/carrinho" class="exit"><img src="img/icCartW.png" alt="UserIcon"></a>
        <br><br><br>
        <a href="/sobrenos" class="exit"><img src="img/about.png" alt=""></a>
        <br><br><br>
        <a href="/" class="exit"><img src="img/exit.png" alt=""></a>
    </div>
</div>

<body>
    <h1>Quem somos?</h1>
    <div class="perfil">
        <a href="https://github.com/M-Eleoterio">
            <img src="../img/_┊Miles-Morales-⊰-Homem-Aranha-no-Aranhaverso.png" alt="Miles Morales" class="Eleoterio">
        </a>
        <div class="nome">
            <h2 class="eleoterio">Eleoterio</h2>
            <h2 class="back">Desenvolvedor do Back-End</h2>
        </div>
    </div>
    <div class="perfil">
        <a href="https://github.com/mrlmurilo">
            <img src="../img/damian-wayne.jpg" alt="damian-wayne" class="Murilo">
        </a>
        <div class="nome">
            <h2 class="margonar">Margonar</h2>
            <h2 class="front">Desenvolvedor do Front-End</h2>
        </div>
    </div>
</body>
<footer>
    <p>&copy; 2023 PixelCats. Todos os direitos reservados.</p><br>
    <a class="aboutus" href="/sobrenos">Desenvolvedores do projeto </a>
</footer>

<script src="js/aboutus.js"></script>

</html>