<html>
  <head>
    <link rel="icon" href="img/logoRosa.png">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/checkout.css">
    <title>Obrigado!</title>
  </head>
    <style>
      
    </style>
    <body>
      <!--GERAR RANDOM KEY-->
      <% function randomChar() { %>
        <% const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789'; %>
        <% const randomIndex = Math.floor(Math.random() * chars.length); %>
        <% return chars[randomIndex]; %>
      <% } %>
    
      <% function generateKey() { %>
        <% let key = ''; %>
        <% for (let i = 0; i < 3; i++) { %>
          <% for (let j = 0; j < 5; j++) { %>
            <% key += randomChar(); %>
          <% } %>
          <% if (i !== 2) { %>
            <% key += '-'; %>
          <% } %>
        <% } %>
        <% return key; %>
      <% } %>
    
      <div class="card">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
          <i class="checkmark">✓</i>
        </div>
        <h1>Sucesso!</h1> 
        <p>Obrigado por realizar a compra conosco! Aqui estão as chaves dos jogos comprados:</p>
        <ul>
          <% var groupedItems = {}; %>
          <% cart.forEach(function(item) { %>
            <% if (!groupedItems[item.nome_prod]) { %>
              <% groupedItems[item.nome_prod] = []; %>
            <% } %>
            <% for (var i = 0; i < item.quantidade_prod; i++) { %>
              <% groupedItems[item.nome_prod].push(generateKey()); %>
            <% } %>
          <% }) %>
          <% Object.keys(groupedItems).forEach(function(itemName) { %>
            <li style="list-style: none; font-family: sans-serif;">
              <h3><%= itemName %></h3>
              <ul>
                <% groupedItems[itemName].forEach(function(key) { %>
                  <li><%= key %></li>
                <% }) %>
              </ul>
            </li>
          <% }) %>
        </ul>
        <form method="post" action="/homeL">
          <button type="submit">Voltar para o menu</button>
        </form>
      </div>
    </body>
</html>