body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    display: inline-block;
  }


header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    height: 100px;
}


a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 10px;
    transition: 0.3s;
}

a:hover {
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.481);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }


  .product-container {
    display: flex;
    align-items: start;
}

.product-info {
    margin-left: 20px;
}

.product-info h2 {
    font-size: 24px;
    margin: 0;
}

.product-info p {
    margin: 5px 0;
}

button {
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
    font-size: 30px;
}

#preco {
    font-size: 25px;
}
